{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="current_password" name="current_password" placeholder="Current password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Retype password" type="password">
        </div>
        <div class="row" style="padding-top:2%">
            <div class="col-3"></div>
            <div class="col-6">
        <button class="btn btn-primary" type="submit">Change Password</button>
            </div>
            <div class="col-3"></div>
        </div>
    </form>
{% endblock %}
