{% extends "layout.html" %}

{% block title %}
    hold book success
{% endblock %}

{% block main %}
    <h2 id="fontf">The list of damged books</h2>
    <div class="row justify-content-start">
        <div class ="col-2"></div>
        <div class ="col-8">
        <table class="table">
            <thead>
                <tr>
                    <th class="h4" id="fontf">ISBN</th>
                     <th class="h4" id="fontf">Title</th>
                     <th class="h4" id="fontf">Copyid</th>


                </tr>
            </thead>
            <tbody>
                {% for value in result %}
                   <tr>
                        <td id="fontf">{{ value }}</td>
                   </tr>
                {% endfor %}
            </tbody>

    </table>
</div>
<div class ="col-2"></div>
<div class ="col-2"></div>
<div class ="col-8"></div>
<div class ="col-2">
    <a class="btn btn-primary" type="submit" href="/display/member">Close</a>
</div>
    </class>
    </div>
   </div>

{% endblock %}
