{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
   <div class="row">

    <div class="col">
        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <class="container" style="padding-top:5%;">
                <button class="btn btn-primary" type="submit">Log In</button>
            </class>

        </form>
    </div>
   </div>

{% endblock %}
