{% extends "layout.html" %}

{% block title %}
    Member summary
{% endblock %}

{% block main %}
<div class="strip">
    <div class="row justify-content-start">
        <div class ="col-2 col-md-4 mb-1"></div>
        <div class ="col-8 col-md-4 mb-1" style="padding-bottom:1%">
            <a class="btn btn-primary btn-lg" style="width:100%;" href="/search_book">Search Books</a>
        </div>
        <div class ="col-2 col-md-4 mb-1"></div>
        <div class ="col-2 col-md-4 mb-1"></div>
        <div class ="col-8 col-md-4 mb-1" style="padding-bottom:1%"">
            <a class="btn btn-primary btn-lg" style="width:100%; padding-top:2%;" href="/checkout">Checkout Book</a>
        </div>
        <div class ="col-2 col-md-4 mb-1"></div>
        <div class ="col-2 col-md-4 mb-1"></div>
        <div class ="col-8 col-md-4 mb-1" style="padding-bottom:1%">
            <a class="btn btn-primary btn-lg" style="width:100%; padding-top:2%;" href="/future_req">Future request Book</a>
        </div>
        <div class ="col-2 col-md-4 mb-1"></div>
        <div class ="col-2 col-md-4 mb-1"></div>
        <div class ="col-8 col-md-4 mb-1" style="padding-bottom:1%"">
            <a class="btn btn-primary btn-lg" style="width:100%; padding-top:2%;" href="/ret_book">Return Book</a>
        </div>
        <div class ="col-2 col-md-4 mb-1"></div>
        <div class ="col-2 col-md-4 mb-1"></div>
        <div class ="col-8 col-md-4 mb-1" style="padding-bottom:1%"">
            <a class="btn btn-primary btn-lg" style="width:100%; padding-top:2%;" href="/extend_req">Extend Book</a>
        </div>
        <div class ="col-2 col-md-4 mb-1"></div>
        <div class ="col-2 col-md-4 mb-1"></div>
        <div class ="col-8 col-md-4 mb-1" style="padding-bottom:1%"">
            <a class="btn btn-primary btn-lg" style="width:100%;" href="/summary">Summary</a>
        </div>
        <div class ="col-2 col-md-4 mb-1"></div>
    </div>
</div>



{% endblock %}
