{% extends "layout.html" %}

{% block title %}
    Damaged books
{% endblock %}

{% block main %}
    <h2 id="fontf">Choose month for stats</h2>
    <div class="row justify-content-start">
        <div class ="col-2"></div>
        <div class="col-8">
        <form action="/popbooks"  method="post">
            <div class="mb-3">
                <select class="form-select mx-auto w-auto" name="month" place_holder="symbol">
                    <option disabled_selected>Month</option>
                    {% for symbol in months %}
                        <option>{{symbol['month']}}</option>
                    {% endfor %}
                </select>
            </div>
        <div class = "container" style="padding-top:2%">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        </form>
        </div>
<div class ="col-2"></div>
<div class ="col-2"></div>
<div class ="col-8"></div>
<div class ="col-2" style="padding-top:6%">
    <a class="btn btn-primary" type="submit" href="/display/admin">Close</a>
</div>
    </class>
    </div>
   </div>

{% endblock %}




