{% extends "layout.html" %}

{% block title %}
    Return book
{% endblock %}

{% block main %}
   <div class="row">

    <div class="col">
        <form action="/ret_book" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="issue_id" name="issue_id" placeholder="Issueid" type="number">
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="ISBN" name="ISBN" placeholder="ISBN" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="Isdamaged" placeholder="Isdamaged" type="number">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="copy_id" name="copy_id" placeholder="Copyid" type="number">
            </div>
            <class="container" style="padding-top:5%;">
                <button class="btn btn-primary" type="submit">Submit</button>
            </class>

        </form>
    </div>
   </div>

{% endblock %}
